body {
  font-family: Arial;
}

h3 {
  font-weight: normal;
}

a {
  text-decoration: none;
  padding-top: 5px;
}

a:visited {
  color: #136cb2;
}

.container {
  width: 400px;
  padding: 10px;
}

.filmTable {
  color: #136cb2;
  border-bottom: 1px solid #ccc;
  padding: 20px;
}

.film {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.showtimes-btn {
  background-color: #136cb2;
  color: #FFF;
  font-family: Verdana;
  font-size: 18px;
  height: 60px;
  text-align: center;
  text-decoration: none;
  width: 100%;
  margin-top: 20px;
}
